<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profiles</title>
    <link rel="stylesheet" href="team.css">
</head>
<body>
    <section class="team">
        <h2>Our Team</h2>
        <div class="team-container">
                        <div class="team-member">
                      <img src="team2.png">
                <h3>Mr.Nati</h3>
                <p>Parking employee</p>
                <a href="client.html">
                <button class="button">Car slot</button></a>
            </div>
                        <div class="team-member">
                      <img src="profile.jpg">
                <h3>Mr.Dagim</h3>
                <p>Parking employee</p>
                <a href="http://127.0.0.1:5000/client">
                <button class="button">Car slot</button></a>
            </div>
                        <div class="team-member">
                      <img src="profile2.jpg" alt="Team Member">
                <h3>Ms.bet</h3>
                <p>Parking employee</p>
                <a href="http://127.0.0.1:5000/client">
                <button class="button">Car slot</button></a>
            </div>
            <div class="team-member">
                      <img src="profile3.jpg" alt="Team Member">
                <h3>Mr.Tomas</h3>
                <p>Parking employee</p>
                <a href="http://127.0.0.1:5000/client">
                <button class="button">Car slot</button></a>
            </div>
        </div>
    </section>
</body>
</html>