<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="terms.css">
</head>
<body>
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms Of Service</h2>
            <p>last</p>
           It is a simple website where a person can easily park their car at a company or hotel, hand it over to a smart parking employee, and receive the work done when they leave. 
             We can use this website. A smart parking employee in an organization or hotel will scan the QR code on his clothes and take us to his profile. After filling out the form, we will click the start button and he will take the car. When we want to accept the car, we will click the stop button. After accepting the car, we will click the accept button.
        </div>
        <h4> iagree to the <span>terms serviceof </span> and i read the privacy notice.</h4>
        <div class="buttons">
            <a href="index.html"><button class="btn red-btn">Accept</button></a>
            <a href="#status"><button class="btn redd-btn">Decline</button></a>
        </div>
    </div>
    
</body>
</html>